<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">

        <title>Babitch</title>

        <meta name="author" content="Adrien Samson &amp; Nicolas Chaulet">

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="css/reveal.css">
        <link rel="stylesheet" href="css/theme/default.css" id="theme">

        <!-- For syntax highlighting -->
        <link rel="stylesheet" href="lib/css/zenburn.css">

        <!-- If the query includes 'print-pdf', use the PDF print sheet -->
        <script>
            document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
        </script>

        <!--[if lt IE 9]>
        <script src="lib/js/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body ng-app="demo">

        <div class="reveal">

            <!-- Any section element inside of this container is displayed as a slide -->
            <div class="slides">

                <section>
                    <h1>Babitch</h1>
                    <h3>Une appli pour les matchs de babyfoot</h3>
                </section>

                <section>
                    <section>
                        <h2>Pourquoi ?</h2>
                        <ul>
                            <li>Enregistrer les scores des matchs</li>
                            <li>Pouvoir faire des stats</li>
                            <li>S'amuser sur un side-project</li>
                        </ul>
                    </section>

                    <section>
                        <h2>Comment ?</h2>
                        <p>Une API REST pour enregistrer et restituer les données</p>
                        <p>Une application web responsive pour saisir les données et afficher les stats</p>
                    </section>
                </section>

                <section>
                    <h2>Stack technique</h2>
                    <img src="images/stack.jpg" />
                </section>

                <!-- API -->
                <section>
                    <section>
                        <h2>Une API REST</h2>
                        <ul>
                            <li>comme on en fait tous les jours <em>(chez les Cytrons)</em></li>
                            <li>en Symfony2</li>
                            <li>avec FOSRestBundle, JMSSerializerBundle et NelmioApiDocBundle</li>
                            <li>stockage en BDD SQL (avec Doctrine)</li>
                            <li>tests fonctionnels avec Behat</li>
                        </ul>
                    </section>

                    <section>
                        <img src="images/apidoc.png" />
                    </section>
                    <section data-markdown>
                        <script type="text/template">
                            ## Un joueur
                            ```json
                            {
                                "name": "Adrien",
                                "email": "adrien@example.com",
                                "_links": {
                                    "self": {
                                        "href": "http://api.babitch.example.com/v1/players/1"
                                    }
                                }
                            }
                            ```
                        </script>
                    </section>
                    <section data-markdown>
                        <script type="text/template">
                            ## Un match
                            ```json
                            {
                                "blue_score": 10,
                                "red_score": 9,
                                "composition": [
                                     { "...": "..." }
                                ],
                                "goals": [
                                    { "...": "..." }
                                ],
                                "_links": {
                                    "self": {
                                        "href": "http://api.babitch.example.com/v1/games/1"
                                    }
                                }
                            }
                            ```
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## Un joueur dans la compo
                            ```json
                            {
                                "player_id": 1,
                                "team": "blue",
                                "position": "defense",
                                "_links": {
                                    "player": {
                                        "href": "http://api.babitch.example.com/v1/players/1"
                                    }
                                }
                            }
                            ```
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## Un but
                            ```json
                            {
                                "player_id": 1,
                                "conceder_id": 1,
                                "position": "defense",
                                "autogoal": true
                            }
                            ```
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## Tests fonctionnels avec behat
                            ```no-highlight
                            Feature: Players Ressource

                                Scenario: POST a player, GET it, then GET player listing, finnaly DELETE it
                                    Given I add "CONTENT_TYPE" header equal to "application/json"
                                    When I send a POST request on "/v1/players" with body:
                                    """
                                    {"name" : "raoul", "email" : "raoul@test.com"}
                                    """
                                    Then the response status code should be 201
                                    And the header "location" should be equal to "http://localhost/v1/players/1"

                                    When I send a GET request on "/v1/players/1"
                                    Then the response status code should be 200
                                    And the response should be in JSON
                                    And the JSON node "name" should be equal to "raoul"
                                    And the JSON node "email" should be equal to "raoul@test.com"
                            ```
                        </script>
                    </section>
                </section>

                <!-- FRONT -->
                <section>
                    <section>
                        <h2>Le FRONT</h2>
                    </section>
                    <section>
                        <h2>Une vue Match</h2>
                        <img src="images/game.png" />
                    </section>
                    <section>
                        <h2>Une vue Live</h2>
                        <img src="images/live.png" />
                    </section>
                     <section>
                        <h2>Une partie Stats</h2>
                        <img src="images/live.png" />
                    </section>
                    <!-- Prévoir démo -->
                </section>

                <section>
                    <h2>Techniquement ? </h2>
                </section>

                <section>
                    <section>
                        <h2>Angular JS</h2>
                        <ul>
                            <li>Framework MVW</li>
                            <li>Databinding bi-directionnel costaud</li>
                            <li>Webcomponents</li>
                            <li>Injection de dépendance \o/</li>
                            <li>Intégration du process de Tests</li>
                        </ul>
                    </section>
                    <section>
                        <h2>Databinding</h2>
                        <div>
                            <h3>Hello {{ name }}</h3>
                            <input type="text" style="font-size:1em;" ng-model="name" />
                        </div>
                        <div data-markdown>
                            <script type="text/template">
                                ```html
                                <div ng-app="demo">
                                    <h3>Hello {{ name }}</h3>
                                    <input type="text" ng-model="name" />
                                </div>
                                ```
                            </script>
                        </div>
                    </section>
                    <section>
                        <h2>Controller</h2>
                        <div ng-controller='CounterCtrl'>
                            <h3>Click : {{ count }}</h3>
                            <button style="font-size:1em;" ng-click="increment()">click !</button>
                        </div>
                        <div data-markdown>
                            <script type="text/template">
                                ```html
                                <div ng-controller='CounterCtrl'>
                                    <h3>Click : {{ count }}</h3>
                                    <button ng-click="increment()">click !</button>
                                </div>
                                ```
                                ```javascript
                                angular.module('demo', [])
                                    .controller('CounterCtrl', ['$scope', function($scope) {
                                        $scope.count = 0;
                                        $scope.increment = function() {
                                            $scope.count++;
                                        };
                                    }]);
                                ```
                            </script>
                        </div>
                    </section>
                    <section>
                        <h2>Restangular</h2>
                        <div ng-controller='RestCtrl'>
                            <h3>{{ repository.slug }}</h3>
                            <p>Status : {{ repository.last_build_result }}</p>
                            <input type="text" style="font-size:1em;" ng-model="repoId" />
                            <button style="font-size:1em;" ng-click="search(repoId)">Search</button>
                        </div>
                        <div data-markdown>
                            <script type="text/template">
                                ```html
                                <div ng-controller='RestCtrl'>
                                    <h3>{{ repository.slug }}</h3>
                                    <p>Status : {{ repository.last_build_result }}</p>
                                    <input type="text" ng-model="repoId" />
                                    <button ng-click="search(repoId)">Search</button>
                                </div>
                                ```
                                ```javascript
                                angular.module('demo', ['restangular'])
                                    .controller('RestCtrl', ['$scope', 'Restangular', function($scope, Restangular) {
                                        Restangular.setBaseUrl('https://api.travis-ci.org/');
                                        Restangular.setRequestSuffix('.json');
                                        $scope.search = function(repoId) {
                                            $scope.repository = Restangular.one('repos', repoId).get().$object;
                                        };
                                }]);
                                ```
                            </script>
                        </div>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Tests</h2>
                        <ul>
                            <li>Unitaire Jasmine + Karma</li>
                            <li>Fonctionnel Protractor + Webdrivers</li>
                            <li>Mock de tous les appels au backends(angular httpBackend)</li>
                        </ul>
                        <!-- Voir si timing démo -->
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Faye</h2>
                        <ul>
                            <li>pub/sub temps réel</li>
                            <li>Serveur node ou ruby</li>
                            <li>Simple a mettre en place</li>
                            <li>Scalable et utilisé en production sur de grosses applications</li>
                        </ul>
                    </section>
                    <section data-markdown>
                        <script type="text/template">
                            ## Serveur (Nodejs)
                            ```javascript
                            var http = require('http'),
                            faye = require('faye');

                            var httpServer = http.createServer(),
                            fayeServer = new faye.NodeAdapter({mount: '/faye', timeout: 45});

                            fayeServer.attach(httpServer);
                            server.listen(8000);
                            ```
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## Client
                            ```javascript
                            var client = new Faye.Client('http://localhost:8000/faye');

                            // Envoi d'un message
                            client.publish('/home-channel', {text: 'Hi there'});

                            // Réception d'un message
                            client.subscribe('/home-channel', function(message) {
                                console.log(message);
                            });
                            ```
                        </script>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Bilan</h2>
                        <ul>
                            <li>Les librairies *.js pas forcément très stables</li>
                            <li>Développement itératif avec périmètre restreint => utilisable rapidement</li>
                        </ul>
                    </section>
                    <section>
                        <h2>Le futur proche</h2>
                        <ul>
                            <li>Timestamps début/fin de match et à chaque but <em>(en cours)</em></li>
                            <li>Création/modificaton des joueurs dans l'appli</li>
                            <li>Des stats qui prennent en compte les différences de niveau <em>(ELO)</em></li>
                            <li>Composition à chaque but</li>
                            <li>D'autres idées ?</li>
                        </ul>
                    </section>
                    <section>
                        <h2>Contribuer</h2>
                        <ul>
                            <li>
                                <a href="https://github.com/M6Web/Babitch/">M6Web/Babitch</a><br />
                                <img src="images/github-babitch.png" />
                            </li>
                            <li>
                                <a href="https://github.com/M6Web/BabitchClient/">M6Web/BabitchClient</a><br />
                                <img src="images/github-babitchclient.png" />
                            </li>
                        </ul>
                    </section>
                </section>
                <section>
                    <h2>Merci</h2>
                </section>
            </div>

        </div>

        <script src="lib/js/head.min.js"></script>
        <script src="js/reveal.min.js"></script>

        <script>

            // Full list of configuration options available here:
            // https://github.com/hakimel/reveal.js#configuration
            Reveal.initialize({
                controls: true,
                progress: true,
                history: true,
                center: true,



                theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
                transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none
                margin: 0,
                width: 1440,
                height: 900,
                // Optional libraries used to extend on reveal.js
                dependencies: [
                    { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
                    { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
                    { src: 'plugin/zoom-js/zoom.js', async: false, condition: function() { return !!document.body.classList; } },
                    { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
                    // { src: 'plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
                    // { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
                ]
            });

        </script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/restangular/dist/restangular.js"></script>
        <script type="text/javascript">
            angular.module('demo', ['restangular'])
                .controller('CounterCtrl', ['$scope', function($scope) {
                    $scope.count = 0;
                    $scope.increment = function() {
                        $scope.count++;
                    };
                }])
                .controller('RestCtrl', ['$scope', 'Restangular', function($scope, Restangular) {
                    Restangular.setBaseUrl('https://api.travis-ci.org/');
                    Restangular.setRequestSuffix('.json');
                    $scope.search = function(repoId) {
                        $scope.repository = Restangular.one('repos', repoId).get().$object;
                    };
                }]);
        </script>
    </body>
</html>
